.bg-content {
  background: #f3f3fb !important;
  position: relative;
  width: 100%;
  height: 969px;
}
.cardContent {
  padding: 30px;
}

.card-content {
  height: 900px;
  border-radius : 20px !important;
}
